@model PeniaBermeja.Models.Slider

@{
    ViewBag.Title = "Delete";
}

<h2>¿Estas seguro de que deseas eliminar este slider?</h2>


<div>
    <hr />

    <div class="row">
        <div class="card">
            <div class="card-block" style="padding-bottom: 100px;">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <input type="hidden" name="sliderId" value="@Model.sliderId" />

                <div class="form-group col-md-12">
                    <h5>Datos Slider</h5>
                    <hr />

                    <fieldset class="form-group col-md-6">
                        @Html.LabelFor(model => model.titulo, new { @class = "control-label" })
                        @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })

                    </fieldset>

                    <fieldset class="form-group col-md-6">
                        @Html.LabelFor(model => model.posicion, new { @class = "control-label" })
                        @Html.EditorFor(model => model.posicion, new { htmlAttributes = new { @class = "form-control" , @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.posicion)
                    </fieldset>

                    <fieldset class="form-group col-md-6">
                        @Html.LabelFor(model => model.texto, new { @class = "control-label" })
                        @Html.EditorFor(model => model.texto, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.texto)
                    </fieldset>



                    <fieldset class="form-group col-md-6">
                        <div class="col-md-7">
                            @Html.LabelFor(model => model.imagen, new { @class = "control-label" })<br /><br />
                            <img src="@Model.imagen.imagenPath()" alt="Sample Image" style="position:absolute;width:125px;height:80px; " />
                            
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-block" style="padding-bottom: 50px;">

                <div class="form-group col-md-12">
                    <h5>Botón 1</h5>
                    <hr />

                    <fieldset class="form-group col-md-4">
                        @Html.LabelFor(model => model.boton1.texto, new { @class = "control-label" })
                        @Html.EditorFor(model => model.boton1.texto, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.boton1.texto, "", new { @class = "text-danger" })

                    </fieldset>
                    <fieldset class="form-group col-md-4">
                        @Html.LabelFor(model => model.boton1.accion, new { @class = "control-label" })
                        @Html.EditorFor(model => model.boton1.accion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.boton1.accion, "", new { @class = "text-danger" })
                    </fieldset>
                    <fieldset class="form-group col-md-4">
                        @Html.LabelFor(model => model.boton1.controlador, new { @class = "control-label" })
                        @Html.EditorFor(model => model.boton1.controlador, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.boton1.controlador, "", new { @class = "text-danger" })
                    </fieldset>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-block" style="padding-bottom: 50px;">

                <div class="form-group col-md-12">
                    <h5>Botón 2</h5>
                    <hr />

                    <fieldset class="form-group col-md-4">
                        @Html.LabelFor(model => model.boton2.texto, new { @class = "control-label" })
                        @Html.EditorFor(model => model.boton2.texto, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.boton2.texto, "", new { @class = "text-danger" })

                    </fieldset>
                    <fieldset class="form-group col-md-4">
                        @Html.LabelFor(model => model.boton2.accion, new { @class = "control-label" })
                        @Html.EditorFor(model => model.boton2.accion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.boton2.accion, "", new { @class = "text-danger" })
                    </fieldset>
                    <fieldset class="form-group col-md-4">
                        @Html.LabelFor(model => model.boton2.controlador, new { @class = "control-label" })
                        @Html.EditorFor(model => model.boton2.controlador, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.boton2.controlador, "", new { @class = "text-danger" })
                    </fieldset>

                </div>
            </div>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger">
                <i class="material-icons btn__icon--left">delete</i>Eliminar
            </button> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>


