@model PeniaBermeja.Models.Slider

@{
    ViewBag.Title = "Editar Slider";
}

@using (Html.BeginForm("Edit", "Sliders", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="card">
            <div class="card-block" style="padding-bottom: 100px;">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <input type="hidden" name="sliderId" value="@Model.sliderId" />

                <div class="form-group col-md-12">
                    <h5>Datos Slider</h5>
                    <hr />

                    <fieldset class="form-group col-md-6">
                        @Html.LabelFor(model => model.titulo, new { @class = "control-label" })
                        @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })

                    </fieldset>

                    <fieldset class="form-group col-md-6">
                        @Html.LabelFor(model => model.posicion, new { @class = "control-label" })
                        @Html.EditorFor(model => model.posicion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.posicion)
                    </fieldset>

                    <fieldset class="form-group col-md-12">
                        @Html.LabelFor(model => model.texto, new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.texto, new { @class = "form-control", @style = "height:100px; width:100%", @id = "summernote" })
                        @Html.ValidationMessageFor(model => model.texto)
                    </fieldset>



                    <fieldset class="form-group col-md-12">
                        <div class="col-md-7">
                            @Html.LabelFor(model => model.imagen, new { @class = "control-label" })<br /><br />
                            <img src="@Model.imagen.imagenPath()" alt="Sample Image" style="position:absolute;width:125px;height:80px;cursor:pointer " />
                            <input type="file" name="Imagenr" id="fileUpload" style="opacity:0.0;width:125px;height:80px;overflow:hidden;position:absolute;cursor:pointer;margin-bottom:5px;" />
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-block" style="padding-bottom: 50px;">

                <div class="form-group col-md-12">
                    <h5>Botón 1</h5>
                    <hr />

                    <fieldset class="form-group col-md-4">
                        @Html.LabelFor(model => model.boton1.texto, new { @class = "control-label" })
                        @Html.EditorFor(model => model.boton1.texto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.boton1.texto, "", new { @class = "text-danger" })

                    </fieldset>
                    <fieldset class="form-group col-md-4">
                        @Html.LabelFor(model => model.boton1.accion, new { @class = "control-label" })
                        @Html.EditorFor(model => model.boton1.accion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.boton1.accion, "", new { @class = "text-danger" })
                    </fieldset>
                    <fieldset class="form-group col-md-4">
                        @Html.LabelFor(model => model.boton1.controlador, new { @class = "control-label" })
                        @Html.EditorFor(model => model.boton1.controlador, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.boton1.controlador, "", new { @class = "text-danger" })
                    </fieldset>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-block" style="padding-bottom: 50px;">

                <div class="form-group col-md-12">
                    <h5>Botón 2</h5>
                    <hr />

                    <fieldset class="form-group col-md-4">
                        @Html.LabelFor(model => model.boton2.texto, new { @class = "control-label" })
                        @Html.EditorFor(model => model.boton2.texto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.boton2.texto, "", new { @class = "text-danger" })

                    </fieldset>
                    <fieldset class="form-group col-md-4">
                        @Html.LabelFor(model => model.boton2.accion, new { @class = "control-label" })
                        @Html.EditorFor(model => model.boton2.accion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.boton2.accion, "", new { @class = "text-danger" })
                    </fieldset>
                    <fieldset class="form-group col-md-4">
                        @Html.LabelFor(model => model.boton2.controlador, new { @class = "control-label" })
                        @Html.EditorFor(model => model.boton2.controlador, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.boton2.controlador, "", new { @class = "text-danger" })
                    </fieldset>

                </div>
            </div>
        </div>
    </div>

    <div class="text-right">
        <button type="submit" class="btn btn-success">
            <i class="material-icons btn__icon--left">create</i> Guardar
        </button>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Styles {
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    @Styles.Render("~/Content/UploadCs")

}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#summernote').summernote();
            $(".note-icon-picture,.note-icon-video").parent().hide();
            $('#UploadForm').load("UploadFiles");
        });
    </script>

}
